<html>
    <head>
        <title>footer</title>
    </head>
    <body>
        <div class="footer-container">
            <div class="foot-container1">
                <div class="logodiv">
                    <img src="/Assets/logo_green_bg.jpeg" class="logofoot" alt="logo">
                </div>
                <div>
                    <p class="logo-textfoot">The Green Bowl</p>
                </div>
                <div class="smedia">
                    <a href="https://www.instagram.com/thegreenbowl_co/"> <i class="bi bi-instagram"></i></a>
                    <a href="https://wa.me/9080470329?text=Hi!"> <i class="bi bi-whatsapp"></i></a>
                    <a href="#faceook"> <i class="bi bi-facebook"></i></a>
                    <a href="#twitter"> <i class="bi bi-twitter-x"></i></a>
                </div>
                <div class="benifits">
                    <a href="#services">Services</a>
                    <p>|</p>
                    <a href="#help">Help & Support</a>
                    <p>|</p>
                    <a href="#terms&conditions">Terms & Conditions</a>
    
                </div>
            </div>
            <div class="foot-container2">
                <p class="caption">"Have questions or need support? We're here to help! Contact us and let us make your food
                    delivery
                    experience exceptional."</p>
    
                <p class="copyright">©2024 The Green bowl Serving you with passion and ❤ | All rights reserved.
                </p>
            </div>
    
        </div>
    

    </body>
</html>