/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

@keyframes Rotate {
    100% {
        transform: rotate(180deg);
    }
}

/* NAV BAR */

.nav-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 13vh;
    box-shadow: 0px 2px 2px 0px rgba(100, 94, 94, 0.2);
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-top: 10px;
    list-style: none;
    font-size: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:not(.menu-content a):hover {
    color: #9BEC00;
    text-decoration: underline;
    text-underline-offset: 1.2rem;
    text-decoration-color: #0c2e01(181, 181, 181)
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;

}

.logo a {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 10px;
    list-style: none;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: default;
}

/* HANBURGER MENU */
.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}



/*MENU BAR*/

.menubar {
    padding-top: 20px;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    font-size: 0.7rem;
}

.menu-list li {
    border: 0.3px lightgrey solid;
    padding: 2px;
    border-radius: 10px;
    cursor: pointer;
}

.menu-list a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.menu-list li:hover {
    /*box-shadow: 1px 1px 1px 1px  lightgreen;*/
    background-color: #9BEC00;
}


/*MENU CARD*/

.menucard {
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px lightgray;
    display:none;
    flex-direction: column;
    border-radius: 10px;
    padding: 0.3rem;
    position: absolute;
    margin-top: 3rem;
    margin-left: 6rem;
    background-color: #fff;
}
.menucard-js{
    display: flex;
}

.menu-content li {
    cursor: pointer;
    list-style: none;
    font-size: 1.1rem;
    margin-left: -25px;
    margin-bottom: 0.5rem;

}

.menu-content a {
    text-decoration: none;
    color: black;
    padding: 6px 40px 6px 20px;
}
.menu-content a:hover{
background-color: #88D66C;
}

/*PROTEIN BOWL*/
#proteinbowl {
    position: relative;
}

.veg_nonveg_icon {
    display: inline;
}

.veg-non-veg-icon {
    width: 18px;
    height: 18px;

}

.section-heading {
    font-size: 1.4rem;
    margin-left: 1.5rem;
    color: #399918;
    font-weight: 500;
    padding: 1rem;
    padding-right: 950px;
}

.caret-styles {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.caret-styles-js {
    transform: rotate(180deg);
}

.spacecaret {
    display: inline;
}

.spacecaret .caret-styles {
    float: right;
    margin-top: 1rem;
    margin-right: 10rem
}

.section-container {
    display: none;
    justify-content: center;
    flex-direction: column;
}

.section-container-js {
    display: flex;
}

.details-container {

    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;
    margin-bottom: 2rem;

}

article {
    display: flex;
    flex-direction: column;
    width: 35rem;
    justify-content: start;
    gap: 0.01rem;
    margin-bottom: 0.1rem;
    border: 0.002rem black solid;
    border-radius: 15px;
    padding: 1rem;
}

.about-img {
    float: right;
    margin-left: 1rem;
    margin-top: -2rem;

}

.about-img,
img {
    width: 200px;
    height: 150px;
    border-radius: 15px;
}

.btn1 {
    border: none;
    background-color: transparent;
}

.about-img .btn1 {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    background-color: #399918;
    padding: 0.35rem 1.5rem;
    position: relative;
    bottom: 30px;
    left: 50px;
    border-radius: 10px;
}

.about-img .btn1:hover {
    background-color: #88D66C;
}

.about-container {
    margin-top: 0.3rem;
    margin-left: 0.3rem;
}

.about-container p {
    margin-bottom: 0.6rem;
}



.dish {
    font-size: 1.24rem;
    font-weight: 500;
}

.ingredient {
    font-size: 0.84rem;
}

.price {
    font-size: 0.94rem;
    font-weight: 550;
}

span {
    color: green;
    font-size: 1rem;
    font-weight: 600;
}

.nutrients {
    font-size: 0.89rem;

}

/*VEG-SALADS*/
#vegsalads {
    position: relative;
}