<!DOCTYPE html>
<html>

<head>

 
    <title>
        About Us
    </title>

</head>

<body>
    <%- include("../views/partials/header.ejs") %>


    <div class="specificnav">
        <nav class="bread">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a style="color: black;text-decoration: none;" href="../index.html">Home</a>
                </li>
                <li class="breadcrumb-item"><a style="color: black;text-decoration: none;" href="menupage.html">Menu</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page" style="font-weight: 300;">About Us</li>
            </ol>
        </nav>
    </div>

    <div class="aboutus-container">
        <div class="section-containers">

            <div class="story-section">
                <div class="story-heading">
                    <p>Our Story</p>
                </div>
                <div class="section-details">
                    <p>Welcome to The Green Bowl, where passion for delicious food meets innovation in delivery. Founded
                        in 2023 , we set out with a mission to make high-quality, diverse food options easily accessible
                        to everyone in our community.</p>
                </div>
            </div>
            <div class="story-section">
                <div class="story-heading">
                    <p>Meet Our Founder</p>
                </div>
                <div class="section-details">
                    <div class="media-container">
                        <img src="./Assets/surya founder.jpeg">
                        <p>SURYA RAMIAH - Founder & CEO </p>
                    </div>
                    <p> Surya embarked on this journey with a vision to revolutionize the food delivery experience. He
                        brings 2 years of experience in this field and a deep love for food..
                        Driven by a commitment to excellence and customer satisfaction, Surya has overseen
                        every aspect of The Green Bowl's growth.His dedication to quality and
                        innovation is reflected in our diverse menu and our seamless delivery service.
                    </p>
                </div>
            </div>
            <div class="story-section">
                <div class="story-heading">
                    <p>Our Mission</p>
                </div>
                <div class="section-details">
                    <p>At The Green Bowl, we believe that good food brings people together. Our mission is to
                        provide you with an exceptional dining experience from the comfort of your home. We are
                        dedicated to sourcing fresh ingredients, supporting local chefs, and ensuring prompt, friendly
                        service.</p>
                </div>
            </div>
            <div class="story-section">
                <div class="story-heading">
                    <p>Our Values</p>
                </div>
                <div class="values-container">
                    <div class="values">
                        <div class="value-heading">
                            <p>Quality</p>
                        </div>
                        <div class="value-detail">
                            <p>We only partner with trusted vendors and chefs to ensure top-notch food.</p>
                        </div>
                    </div>
                    <div class="values">
                        <div class="value-heading">
                            <p class="emerclass">Customer Satisfaction</p>
                        </div>
                        <div class="value-detail">
                            <p>Your happiness is our priority.we’re here to make sure you have a delightful experience
                                with every bite.</p>
                        </div>
                    </div>
                    <div class="values">
                        <div class="value-heading">
                            <p>Innovation</p>
                        </div>
                        <div class="value-detail">
                            <p> We continuously seek new ways to enhance your food delivery experience.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="story-section">
                <div class="section-details footercaption ">
                    <p>
                        Thank you for choosing The Green Bowl . We look forward to serving you..!
                    </p>
                </div>
            </div>

        </div>
    </div>




    <section id="greenpass">

        <div class="story-section">
            <div class="story-heading">
                <p>Green Pass</p>
            </div>
        </div>
        <div class="GP-container">
            <div class="greenpass">
                <img src="Assets/GPbanner.jpg" class="GPbanner" alt="greenpass">
            </div>
            <div class="aboutbg">

                <div class="about-content">
                    <ul class="list">
                        <li>The advertisement introduces the "Green Pass," a membership available for ₹49, which offers
                            numerous
                            benefits.</li>
                        <li>The pass includes unlimited free deliveries in the areas of Mahim, Matunga, and Dadar
                            (West).
                        </li>
                        <li>Members also receive exclusive discounts, additional savings tailored for Green Pass
                            holders.
                        </li>
                        <li>To support fitness goals, the pass covers deliveries to partnered gyms.</li>
                        <li> Furthermore, the membership eliminates packaging costs, ensuring premium packaging without
                            any
                            extra
                            charges.</li>
                        <li>This promotional offer encourages customers to enjoy these advantages by signing up for the
                            Green
                            Pass and saving on delivery fees each month. Terms and conditions apply</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </section>
    <%- include("../views/partials/footer.ejs") %>

    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="src/about.js"></script>
</body>
</html>