<!DOCTYPE html>

<head>
    <title>
        session expired
    </title>
<link rel="stylesheet" href="/styles/sessionExpire.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
<script>
    function nav(){
        window.location.href="/menu";
    }
</script>
</head>

<body style="background-color:#399186;">
    <div class="content-container">
        
        <img src="/Assets/timeout.png">
        <p class="error-code">440</p>
        <p class="error-msg">Session Expired go and Login again to enjoy orders ...!</p>
        <button class="btn" onclick="nav()">GO TO MENU PAGE</button>
    </div>
</body>

</html>