/*GENERAL*/
* {
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}




.loginway {
    gap: 0.3rem;
}

/*Breadcrumb*/

ol.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    text-decoration: none;
    color: black;
    margin-left: -5px;
    padding: 1rem;
}

ol.breadcrumb li {
    display: inline;
    font-size: 1.2rem;
}

ol.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
}

/*ABOUT PAGE*/

.aboutus-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.story-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-right: 5rem;
    margin-left: 5rem;


}


.story-heading {
    width:90%;
    font-size: 1.8rem;
    font-weight: 600;
    color: #399918;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .story-heading::before, .story-heading::after {
    flex: 1;
    content: '';
    padding: 1.6px;
    background-color:#808D7C;
    margin: 5px;
  }

.section-details {
    width:100%;
    height: fit-content;
    padding: 1.4rem;
    padding-top: 0.2rem;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 200;
}

.media-container img {
    border-radius: 50%;
    width: 300px;
    height: auto;
    padding: 1rem;
    transition:transform 0.3s ease;
}

.media-container img:hover{
    transform: scale(0.9);
}

.media-container p {
    font-size: 1.5rem;
    color: #A02334;
    margin-bottom: 2rem;
    font-weight: 600;
}

.values-container {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    
}

.values {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    border: 0.2rem solid #808D7C;

}

.value-heading {
    padding-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    color: #399918;

}

.value-detail {
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}
.footercaption {
    font-size: 1.5rem;
    color: #A02334;
    width: 90%;
    font-weight: 600;
}
 

/*GREEN PASS*/

.GP-container {
  display: flex;
  gap: 3rem;
  justify-content: space-around;


}



.aboutbg {
    margin: 20px;
    margin-left: 0%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.about-content {
    width: 500px;
    height: 500px;
    color: black;
    font-size: 1rem;
    margin: 10px;
    margin-left: 0%;
    padding: 20px 10px;
    border: 5px solid green;
}

.list li {
    padding: 10px;
}


/*GREEN PASS*/

.greenpass {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width:100%;
   
}

.GPbanner {
    width: 500px;
    height: 500px;
}


