/*GENERAL*/
* {
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.toast-success {
    position: absolute;
    top: 3rem !important;
    left: 84% !important; 
    background-color: lawngreen !important;
    transform: translateX(-50%) !important;
    z-index: 2;
    width: 100px;
    padding: 0.5rem;
}

/* cart*/

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -1rem;
}


.section-heading {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 2rem;
    font-weight: 550;
    color: #399918;
}

.slogon {
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    font-weight: 550;
    color: #697565;
    ;
}

.backwardbtn {
    margin: 1rem;
    margin-bottom: 0%;
    width: 10%;
}

.bbtn {
    display: inline;
    position: relative;
    font-size: 1rem;
    width: 100px;
    height: 45px;
    background: transparent;
    border: none;
    font-weight: 550;
    border-radius: 15px;
    background-color: #399918;
    color: white;
    box-shadow: 0px 0px 2px 2.4px #939185;
}

.bbtn:hover {
    background-color: #F5F5F5;
    color: #399918;

}

.checkboxbtn {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

}


/* Hide all checkboxes */
.custom-checkbox {
    display: none;
}

/* General label style */
.custom-checkbox+label {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.custom-checkbox+label::before {
    content: '';
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.custom-checkbox:checked+label::before {
    background-color: #4CAF50;
    content: '✔';
    color: white;
    line-height: 30px;
}



.cart img {
    width: 300px;
    height: 300px;
}

.section-caption {
    font-size: 2rem;
    font-weight: 550;
}

.cbtnc {
    font-size: 19px;
    font-weight: bold;
    margin-left: 20px;
    width: 180px;
    height: auto;
    padding: 8px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 5px;
    background-color: #399918;
    color: white;
}



/* /* CART AFTER ADDED 
.cart-section{

} */

.cart-container-main {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    padding-bottom: 100px;
}

.cart-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 1rem;
    box-shadow: 0px 0px 4px 1.3px #939185;
    width: 430px;
    gap: 1.5rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 150px;
    height: 150px;
    border-radius: 15px;

}

.elseclass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* DETAILS AREA */

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.details-heading {
    font-size: 1rem;
    font-weight: 550;
    margin-bottom: 0rem;
}

.details-type {
    font-size: 0.8rem;
    font-weight: 450;
    text-align: center;
    margin-bottom: 0rem;
}

/* PRICE AREA */

.price-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.details-price {
    margin-bottom: 0rem;
    font-size: 1.1rem;
    font-weight: 450;
    text-align: center;
}

.btn-container {
    display: inline-flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.decrement,
.increment {
    width: 30px;
    height: 30px;
    font-size: 1.3rem;
    font-weight: 550;
    background-color: #8FD14F;
    color: white;
    border: none;
    border-radius: 10px;
}

.quantity {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0rem;
}

.deleteicon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 2.1rem;
    width: 100px;
    height: 180px;
    background: white;
    border: none;
    font-weight: 550;
    color: #399918;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 1.3px #939185;
}

.deleteicon:hover {
    background-color: #399918;
    color: white;
}

.shadoweffect {
    box-shadow: 0px 0px 7px 1.3px red;
    transition: box-shadow 0.3s ease;

}


/* CALCULATION */


.calc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.total-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    align-items: center;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0px 0px 3px 3px #939185;
    background-color: #fff;
    padding: 2rem;
}

.pricesum {
    display: inline-flex;
    font-size: 1.3rem;
}

.totalprice {
    padding-left: 0.5rem;
    font-weight: 300;

}

#addbtn {
    position: relative;
    font-size: 1rem;
    width: 200px;
    height: 45px;
    background: transparent;
    border: none;
    font-weight: 550;
    border-radius: 15px;
    background-color: #399918;
    color: white;
    box-shadow: 0px 0px 2px 2.4px #939185;
    margin-left: 5rem;
}