* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

p {
    margin-bottom: 0rem;
}

body {
    overflow-x: hidden;
    background-color: #dff3d8;

}

.commonbtn {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.3rem;
}

.section-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    /*  position: relative; */
}

.section-heading {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 590;
    color: white;
    background-color: #399918;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 2;


}

.details-container {

    display: flex;
    width: 100%;
    margin: 3rem;
    margin-top: 6rem;
    gap: 2rem;
}

.contact-form {
    position: relative;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 600px;
    padding: 0.4rem;
    gap: 1.5rem;
}


.forms-container {
    position: relative;
}

.forms-container::placeholder {
    color: transparent;
}


/* icons */
.icon1 {
    padding-top: 0.3rem;
    padding-right: 1rem;
    color: #399918;
}

.valid-icon {
    border: none;
    outline: none;
    background-color: transparent;
}

/* FORM INPUT - LABEL */

.forms-container label:not(.deliverymode-content) {
    font-size: 1.2rem;
    position: absolute;
    top: 0.8rem;
    left: 1rem;
    pointer-events: none;

}

.forms-container input:not(.contact-form .deliverymode) {
    width: 500px;
    height: 50px;
    font-size: 1.2rem;
    border: 0.7px solid #939185;
    border-radius: 7px;
    padding-left: 1rem;
}

.forms-container textarea {
    width: 500px;
    height: auto;
    padding: 0.5rem;
    font-size: 0.98rem;
    border: 0.7px solid #939185;
    border-radius: 7px;

}

.forms-container textarea:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0 0.2rem #399918;
}

.forms-container input:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0 0.2rem #399918;

}

.focus-input {
    position: absolute;
    top: -10rem;
}

.login-credentials {
    display:flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    
}

.login-details {
    display: none;
    background-color: #fff;
    flex-direction: column;
    gap: 1.999rem;
    position: relative;
    top: -1.4rem;
    padding: 1.4rem;
    width: 600px;
    border-radius: 0px 0px 15px 15px;
}

.btn-login {
    width: fit-content;
    height: fit-content;
    padding: 0.8rem 1.1rem;
    border-radius: 10px;
    position: relative;
    right: -17rem;
    color: white;
    background-color: #399918;

}

.btn-valid {
    color: #399918;
    font-weight: 550;
    font-size: 1.8rem;
    background-color: transparent;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
}

.btn-modify {
    color:#65B741;
    background-color: transparent;
    padding: 0.4rem 1rem;
    border-radius:8px;
    border: 0.6px solid gray;
}

.btn-valid,
.btn-modify {
    display: none;
}

.tovalidate{
    color: red;
    font-size: 0.9rem;
    font-weight: 450;
    margin-top: -1rem;
    padding-left: 0.4rem;
}

/*    CHECK-BOX SECTION */

.checkbox-section {
    padding-left: 0.77rem;
    display: inline-flex;
    gap: 0.99rem;
}

.deliverymode {
    width: 20px;
}

.deliverymode-content {
    font-size: 0.85rem;
}




/* ADDRESS - CONTAINER */
.address1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.addr-container1 .forms-container input {
    width: 300;
    height: 45px;
}

.address-container {
    display: none;
    padding: 1rem;
    width: 600px;
    flex-direction: column;
    gap: 1.7rem;
    margin-top: -1.5rem;
    height: auto;
    background-color: #fff;
    border-radius: 0px 0px 15px 15px;
}

.open {
    display: block;
}

.addr-container1,
.addr-container2 {
    display: flex;
    gap: 2rem;
    padding-bottom: 1rem;
}

.btn-addr,
.btn-addr1,
.btn-addr2,
.btn-addr3 {

    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.3rem;


}

.login-credentials,
.summary,
.address1,
.payment {
    display: flex;
    justify-content: flex-start;
    width: 600px;
    height: fit-content;
    border-radius: 10px;
    padding: 1rem 0.75rem;
    border: 1px solid #dee2e6;
    color: black;
    background-color: #fff;
    cursor: pointer;
    position: relative;
}


.extracss {
    background-color: #E3E1D9;
    color: #939185;
}


/* PRICE CONTAINER */

.price-details {
    display: NONE;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    height: fit-content;
    padding: 1rem;
    margin: 2rem;
    box-shadow: 0px 0px 1px 1px #939185;
    background-color: #fff;
    position: fixed;
    right: 15rem;

}

.price-container1,
.price-container2,
.price-container3,
.price-container4 {
    display: flex;
    justify-content: space-between;
}

.price-heading {
    color: #399918;
    font-weight: 550;
    font-size: 1.3rem;

}


/* 
.Deliveryimg {
    /*  position: relative;
    top: -30px; 
    width: 400px;
    height: 300px;
} */



/* summary */
.orders-container{
    display:flex;
    flex-direction: column;
    gap: 0rem;
}

.orders-section {
    display: none;
    padding-top: 2rem;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    width: 600px;
    height: 280px;
    padding-bottom: 2rem;
    overflow-y: scroll;
    border-radius: 15px;

}

.order-item {
    display: flex;
    flex-direction: row;
    /*  justify-content: center; */
    gap: 2rem;
    margin-left: 2rem;
}

.order-item img {
    width: 120px;
    height: 120px;
    border-radius: 15px;
}

.order-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}