* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

p {
    margin-bottom: 0rem;
}

body {
    overflow-x: hidden;
    background-color: #dff3d8;

}

.commonbtn {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
}

.section-container {
    display: flex;
    flex-direction: column;

}

.section-heading {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 590;
    color: white;
    background-color: #399918;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 1000;
}

.details-container {
    display: flex;
    width: 100%;
    margin: 5rem;
    gap: 2rem;
}

.contact-form {
    position: relative;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 600px;
    padding: 0.4rem;
    gap: 1.5rem;
    /*   padding-top: 60px; */
}


.forms-container {
    position: relative;
}

.forms-container::placeholder {
    color: transparent;
}


/* icons */
.icon1 {
    padding-top: 0.3rem;
    padding-right: 1rem;
    color: #399918;
}

.valid-icon {
    border: none;
    outline: none;
    background-color: transparent;
}

/* FORM INPUT - LABEL */

.forms-container label:not(.deliverymode-content) {
    font-size: 1rem;
    position: absolute;
    top: 0.8rem;
    left: 1rem;
    pointer-events: none;

}

.forms-container input:not(.contact-form .deliverymode, .payment-sections .upi) {
    width: 500px;
    height: 50px;
    font-size: 1rem;
    border: 0.7px solid #939185;
    border-radius: 7px;
    padding-left: 1rem;
}

.forms-container textarea {
    width: 500px;
    height: auto;
    padding: 0.5rem;
    font-size: 0.98rem;
    border: 0.7px solid #939185;
    border-radius: 7px;

}

.forms-container textarea:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0 0.2rem #399918;
}

.forms-container input:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0 0.2rem #399918;

}

.focus-input {
    position: absolute;
    top: -10rem;
}





.login-details {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    top: -1.4rem;
    padding: 1rem;
    width: 600px;
    border-radius: 0px 0px 15px 15px;
}

.btn-login {
    width: fit-content;
    height: fit-content;
    padding: 0.8rem 1.1rem;
    border-radius: 10px;
    position: relative;
    right: -17rem;
    color: white;
    background-color: #399918;

}

.btn-valid {
    color: #399918;
    font-weight: 550;
    font-size: 1.2rem;
    background-color: transparent;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
}

.btn-modify {
    color: #65B741;
    background-color: transparent;
    padding: 0.4rem 1rem;
    border-radius: 8px;
    border: 0.6px solid gray;
}

.btn-valid,
.btn-modify {
    display: none;
}

.tovalidate {
    color: red;
    font-size: 0.78rem;
    font-weight: 450;
    padding-left: 0.4rem;
}

/*    CHECK-BOX SECTION */

.checkbox-section {
    padding-left: 0.77rem;
    display: inline-flex;
    gap: 0.99rem;
}

.deliverymode {
    width: 20px;
}

.deliverymode-content {
    font-size: 0.86rem;
}




/* ADDRESS - CONTAINER */
.address1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.addr-container1 .forms-container input {
    width: 300;
    height: 45px;
}

.address-container {
    display: none;
    padding: 1rem;
    width: 600px;
    flex-direction: column;
    gap: 1rem;
    margin-top: -1.5rem;
    height: auto;
    background-color: #fff;
    border-radius: 0px 0px 15px 15px;
}

.open {
    display: block;
}

.addr-container1,
.addr-container2 {
    display: flex;
    gap: 2rem;
    padding-bottom: 1rem;
}

.btn-addr,
.btn-addr1,
.btn-addr2,
.btn-addr3 {

    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
}

.summary,
.address1,
.payment {
    display: flex;
    justify-content: flex-start;
    width: 600px;
    height: fit-content;
    border-radius: 10px;
    padding: 1rem 0.75rem;
    border: 1px solid #dee2e6;
    color: black;
    background-color: #fff;
    cursor: pointer;
    position: relative;
}

.login-credentials {
    display: flex;
    justify-content: flex-start;
    width: 600px;
    height: fit-content;
    border-radius: 10px;
    padding: 0.75rem 0.75rem;
    border: 1px solid #dee2e6;
    color: black;
    cursor: pointer;
    position: relative;
    background-color: #88D66c;
}

.extracss {
    background-color: #E3E1D9;
    color: #939185;
}


/* PRICE CONTAINER */
.right-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 7rem;
    top: 7rem;
    gap: 3rem;
}

.price-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    height: fit-content;
    padding: 1rem;
    /*    margin: 2rem;
    margin-top: 10rem; */
    box-shadow: 0px 0px 1px 1px #939185;
    background-color: #fff;

    /*     right: 15rem; */

}

.price-container1,
.price-container2,
.price-container3,
.price-container4 {
    display: flex;
    justify-content: space-between;
}

.price-heading {
    color: #399918;
    font-weight: 550;
    font-size: 1.3rem;

}

.price-container4 p {
    font-weight: 600;
}


.Deliveryimg {
    width: 400px;
    height: 300px;

}

.shield {
    font-size: 1.4rem;
    margin: 0.6rem;
}

/* summary */
.orders-container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.orders-section {
    display: none;
    padding-top: 2rem;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    width: 600px;
    height: 280px;
    padding-bottom: 2rem;
    overflow-y: scroll;
    border-radius: 15px;

}

.order-item {
    display: flex;
    flex-direction: row;
    /*  justify-content: center; */
    gap: 2rem;
    margin-left: 2rem;
}

.order-item img {
    width: 120px;
    height: 120px;
    border-radius: 15px;
}

.order-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}




/* payment */
.gap {
    padding-bottom: 5rem;
}

.payment-sections {
    display: none;
    flex-direction: column;
    outline: none;
    gap: 1rem;
    padding: 0rem 2rem;
    border-radius: 15px;
    width: fit-content;
    padding-bottom: 7rem
}

.upi-section,
.card-section,
.net-banking,
.cashDelivery-section {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: #fff;
    padding: 0rem 1rem;
    width: 530px;
    border-radius: 15px;
    cursor: pointer;

}

.payment-img {
    width: 60px;
    height: 60px;
}


/* UPI SECTIONS */

.sub-sections {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    padding: 2rem 2rem;
    padding-left: 5rem;
    margin-top: -1.5rem;
    border-radius: 0px 0px 10px 10px;
    width: 530px;
}

.gpay-img {
    width: 25px;
    height: 25px;
    /*   padding-right: 1rem; */
}

.gpay,
.upi-id {
    display: flex;
    gap: 1rem;
}

.gpay label,
.upi-id label {
    font-size: 1.19rem;
    padding: 1rem;
    cursor: pointer;
}

.gpay input,
.upi-id input {
    width: 17px;
}

.access-container {
    display: none;
    margin-top: -20px;
    margin-left: 2rem;
}

.upibtn {
    background-color: #399918;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 10px;
    margin-left: 2rem;
}

.total-pay-btn {
    background-color: #399918;
    color: white;
    font-size: 1rem;
    padding: 0.7rem 1.3rem;
    border-radius: 10px;
    margin-left: 2rem;
    width: 150px;
    margin-top: -0.5rem;
}

.upi-container {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
}

.upiID {
    width: 250px;
    height: 40px;
    ;
}

.upi-label {
    font-size: 0.97rem;
    position: relative;
    left: 1.3rem;
    top: 2.5rem;
    margin-top: -2rem;
    padding: 0rem;
    width: fit-content;
    pointer-events: none;
}

.upiID:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0 0.2rem #399918;
}




/* CREDIT CARD DETAILS */

.credit-card-details {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    padding: 2rem 2rem;
    padding-left: 5rem;
    margin-top: -2.4rem;
    padding-top: 1rem;
    border-radius: 0px 0px 10px 10px;
    position: relative;
    width: 530px;

}

.card-no {
    width: 300px;
    height: 45px;
}

.card-cvv {
    width: 150px;
    height: 45px;
    ;
}

.card-no-label,
.card-cvv-label {
    font-size: 0.97rem;
    position: relative;
    left: 1.8rem;
    top: 3.3rem;
    margin-top: -2rem;
    padding: 0rem;
    width: fit-content;
    pointer-events: none;
}

.card-no:focus,
.card-cvv:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0 0.2rem #399918;
}

.credit-btn {
    width: 100px;
    margin-left: 0rem;
}

.card-footer {
    color: #697565;
    font-size: 0.78rem;
}





/* net banking section */
.net-banking-sections {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    padding: 2rem 2rem;
    padding-left: 1rem;
    margin-top: -2rem;
    padding-top: 1.5rem;
    border-radius: 0px 0px 10px 10px;
    position: relative;
    width: 530px;
    flex-wrap: wrap;
    flex: 1;
}

.pop-banks {
    display: flex;
    gap: 1.4rem;
    flex-wrap: wrap;
}

.other-banks {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.COD-section {
    display: none;
    gap: 1rem;
    align-items: center;
    background-color: #fff;
    padding: 2rem 2rem;
    padding-left: 0.5rem;
    margin-top: -2rem;
    padding-top: 1.5rem;
    border-radius: 0px 0px 10px 10px;
    position: relative;
    width: 530px;
}

.captcha-container {
    border: 0.77px solid #399918;
    width: 130px;
    height: 40px;
    display: inline-flex;
    gap: 0.666rem;
    justify-content: center;
    align-items: center;

}

.captcha {
    font-size: 2.1rem;
    font-weight: 600;
    color: darkgreen;
}

.captcha-input {
    width: 140px;
    height: 45px;
}

.refresh {
    color: 3A6D8C;
    font-weight: 650;
    font-size: 1.2rem;
}

.captcha-label {
    position: absolute;
    font-size: 0.7rem;
    left: 10.5rem;
    pointer-events: none;

}

.corder {
    color: white;
    background-color: #399918;
    padding: 0.66rem;
}

.captcha-input:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0 0.2rem #399918;
}

.error-handler {
    position: absolute;
    left: 10rem;
    top: 4.9rem;
    font-size: 0.68rem;
    font-weight: 500;
    color: red;
}
.done-icon{
    display: none;
    font-size: 2.5rem;
    color:#399918;
   
}
.done-text{
    font-size: 1rem;
    color:black;
    font-weight: 500;
}

.success-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
}
/* CONFIRMATION POP UP */

.confimation-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.con-container {
    max-width: 500px;
    max-height: 600px;
    min-width: 400px;
    min-height: 250px;
    margin: 1px;
    padding: 2px;
    position: absolute;
    top: 50%;
    left: 35%;
    background-color: #F2F9FF;
    z-index: 1000;
    border-radius: 10px;
}

.con-header {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem;
    padding-bottom: 0rem;
    color: #399918;
}

.con-subject {
    font-size: 1.2rem;
    font-weight: 350;
    text-align: center;
    padding: 1rem;
}

.con-btn {
    position: relative;
    left: 50%;
    padding: 1rem;
    display: flex;
    gap: 2rem;

}

.con-btn button {
    border: none;
    outline: none;
    background-color: #a4a7a3;
    border-radius: 10px;
    padding: 0.5rem 0.8rem;
    font-size: 0.99rem;
}
.con-btn button:hover{
    background-color: #399918;
}
.footer {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    width: 100%;
    height: fit-content;
    padding: 1rem 0rem;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    z-index: 1000;
}


.contact-calling {
    color: rgb(13, 139, 218);
    cursor: pointer;
    text-decoration: none;
}

.notice-text {
    position: absolute;
    left: 57%;
    top: 32rem;
    position: fixed;
}