@media screen and (max-width:1200px) {
    .nav-area {
        display: none;

    }

    .hamburger-nav {
        display: flex;
        justify-content: space-around;
        box-shadow: 0px 2px 2px 0px rgba(100, 94, 94, 0.2);

    }

    .menucardhamb {
        top: 4.5rem;
        right: 13rem;
    }

    .cart {
        width: 575px;
        min-width: 0%;
        min-height: 0%;
        height: 600px;
        left: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        z-index: 2;
    }

    .contact-container {
        flex-wrap: wrap;

    }

    /*MENU LIST*/
    .menu-list {
        padding-left: 600px;
        gap: 2rem;
        font-size: 0.7rem;
        overflow-x: scroll;
    }

    .menu-list li {
        width: 500px;
        min-width: 200px;
        height: auto;
        padding: 5px;

    }


    .menu-list a {
        text-decoration: none;
        color: black;
        padding: 10px;
        padding-bottom: 4px;
    }


    /*CONTACT PAGE*/

    .footer-container {
        margin-left: 3rem;
        margin-right: 3rem;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
    }

}

@media screen and (max-width:900px) {
    .menu-list {
        display: none;
    }
}

@media screen and (max-width:600px) {


    .hamburger-nav {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        padding-bottom: 0.5rem;
    }

    .logo img {
        width: 60px;
        height: 60px;
        border-radius: 50%;

    }


    .logo a {
        display: none;

    }

    .nav-links {
        gap: 2.5rem;
        margin-top: 10px;
    }

    .btnpress,
    .btnpress1,
    .btnpress2 {
        font-size: 1.6rem;
    }

    .loginway {
        width: 80px;
        font-size: 0.9rem;
        flex-direction: row;
        padding-right: 2px;
        padding-bottom: 1rem;
        right: 30px;
        margin-top: 60px;
    }

    .loginway p {
        margin-bottom: 0.3rem;
    }

    .loginway .lgn1 {
        padding: 8px 50px;
        font-size: 12px;
        font-weight: 600;
    }

    .cnl,
    .cnllogin,
    .cnlotp {
        font-size: 20px;
    }

    .hamburger-menu {
        margin-top: 8px;
    }

    .hamburger-icon {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 19px;
        width: 25px;
    
    }

    .menu-links {
        right: -50px;
        width: 150px;
        z-index: 1;
        margin-top: 20px;

    }

    .menu-links a {
        font-size: 0.9rem;
    }

    .menucardhamb {
        top: 4.5rem;
        right: 2rem;
    }

    /*.loginpopup*/


    .loginpopup {
        left: 0.1rem;
        width: 100%;
        max-width: 550px;
        height: 300px;

    }

    .headingpop {
        font-size: 0.9rem;
    }

    .sub-heading {
        font-size: 0.8rem;
        margin-bottom: 5px;
    }

    .loginpop-content {
        margin: 15px;
        margin-bottom: 5px;
    }

    .loginpop-content1,
    .otppop-content1 {
        min-width: 220px;
        min-height: 185px;
        margin-left: 20px;
        margin-right: 20px;

    }


    .inner-content {
        position: absolute;
        left: 30px;
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 0rem;
    }

    .inner-content ::placeholder {
        font-weight: 500;
        font-size: 0.76rem;

    }

    .mobno {
        font-size: 1rem;
        font-weight: 500;
        margin-top: 2px;
        margin-bottom: 4px;
    }

    .otpbtn {
        margin: 15px;
        width: 100px;
        height: 32px;
        padding: 2px 10px;
        font-size: 10px;
        font-weight: bold;
        margin-left: 5px;
    }


    #textbox {
        width: 200px;
        height: 35px;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 10px;
    }

    .bottompop {
        padding: 3px;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: 15px;

    }

    .bottompop p {
        font-size: 0.65rem;
        margin-bottom: 0rem;
    }



    /*cartpop*/
    .cart {
        width: 375px;
        min-width: 0%;
        min-height: 0%;
        height: 100%;
        left: 140px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        z-index: 2;
    }

    .cart p {
        font-size: 15px;
    }

    .cart .buy {
        top: 100px;
        left: 20px;
    }

    .buy img {
        width: 200px;
        height: 200px;
    }

    .cbtnc {
        font-size: 10px;
        margin-left: 10px;
        width: 100px;
        padding: 5px;
    }


    /*MENU LIST*/


    .menu-list {
        display: none;
    }



    /*CAROUSELS*/


    .caropic {
        margin: 1rem;
    }

    .carobtn button {
        margin-bottom: -30px;
    }




    /*sections*/
    #proteinbowl,
    .vegsalads,
    .nonvegsalads,
    .vegsandwiches {
        margin-left: 15px;
        margin-right: 15px;
    }

    #proteinbowl {
        padding-top: 20px;
    }

    .section-heading {
        font-size: 1.2rem;
        padding-right: 2rem;
    }

    .spacecaret .caret-styles {
        margin-right: 0rem
    }

    .about-img {
        margin-bottom: 24px;
        margin-left: 0.3rem
    }

    .about-img,
    img {
        margin-top: -0.01rem;
        width: 150px;
        height: 100px;

    }

    .about-img .btn1 {
        font-size: 1rem;
        padding: 0.3rem 1.4rem;
        bottom: 20px;
        left: 30px;
    }

    .about-container {
        margin-top: 0.2rem;
        margin-left: 0rem;
    }

    .about-container p {
        margin-bottom: 0.5rem;
    }

    .dish {
        font-size: 1.14rem;
    }

    .ingredient {
        font-size: 0.7rem;
    }

    .ingredient b {
        font-size: 0.7rem;
    }

    .price {
        font-size: 0.9rem;
    }

    span {
        color: green;
        font-size: 1rem;
        font-weight: 600;
    }

    .nutrients {
        font-size: 0.89rem;

    }






/*contact page*/

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   margin: 0.1rem;
}

.touch-container,
.find-container {
    width: 300px;
    margin: 1rem;
    margin-top: 1rem;
}

.touch-header {
    gap: 1rem;
}

.touch-heading {
    font-size: 1rem;
    padding: 8px;

}

.touch-content {
    font-size: 0.78rem;
}

.contact-form {
    margin: 0.9rem;
    display: flex;
    padding: 2.5rem;
    gap: 0.4rem;
}

.contact-form label {
    font-size: 1rem;
}

.contact-form input {
    width: 250px;
    font-size: 0.8rem;
}

.contact-form textarea {
    font-size: 1rem;
}

.contact-form .sendbtn {
    width: 155px;
    height: 35px;
    font-size: 0.9rem;
    margin-left: 50%;
    margin-top: 25px;
}


/*FIND CONTAINER*/

find-container {
    width: 300px;
    margin: 1rem;
  margin-left: 0.5rem;

}


.find-content {
    gap: 2rem;
    width: 300px;
    margin-top: 30px;
}

.find-block {
    gap: 1rem;
}

.loc {
    font-size: 1rem;

}


.find-header {
    font-size: 1.1rem;
}

.addr {
    font-size: 0.8rem;
    margin-top: 0.7rem;
    margin-left: 2.2rem;
    padding-left: 2.2rem;
}

.embedded-map {
    margin: 0.6rem;

}
.embedded-map iframe {
    
    width: 300px;
    height: 250px;
}

.mapcaption {
    font-size: 0.8rem;
}



/*FOOTER CONTAINER*/

.footer-container {
    margin-left: 1rem;
    margin-right: 1rem;
    min-width: 300px;
    gap: 0.8rem;

}

.foot-container1 {
    gap: 0.4rem;
    width: 300px;
}

.logofoot {
    margin: 15px;
    width: 80px;
    height: 80px;
}

.logo-textfoot {
    font-size: 1.3rem;
}

.foot-container2 {
    gap: 0.4rem;
    padding: 0.8rem;
}

.foot-container2 .caption {
    font-size: 0.8rem;
    padding: 5px;
    
    }

.smedia {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.smedia i {
    font-size: 1rem;
}

.copyright {
    font-size: 0.8rem;
    padding: 1rem;
    color: gray;
    text-align: center;
}

}




@media screen and (max-width:374px) {

    /*cartpop*/
    .cart {
        width: 275px;
        min-width: 0%;
        min-height: 0%;
        height: 600px;
        left: 80px;
    }

    .cart p {
        font-size: 12px;
    }

    .cart .buy {
        top: 100px;
        left: 10px;
    }

    .buy img {
        width: 200px;
        height: 200px;
    }

    .cbtnc {
        font-size: 10px;
        margin-left: 5px;
        width: 100px;
        padding: 5px;
    }

/*ABOUT PAGE*/
    .story-section {
        margin-right: 1rem;
        margin-left: 0.6rem;
    }
    .section-details{
        width: 300px;
        height: fit-content;
        font-size: 0.76rem;
        text-align: justify;
    }

}